services:
  overpass:
    image: goats2k/overpass:0.2.6
    container_name: overpass
    environment:
      - OVERPASS_SECRET_KEY=example_key_1337
      - RTMP_SERVER=127.0.0.1:1935/live
      - DISCORD_CLIENT_ID=yourclientid
      - DISCORD_CLIENT_SECRET=yourclientsecret
      - DISCORD_REDIRECT_URI=yourredirecturi
      - DISCORD_GUILD_ID=yoursecretguildid
    volumes:
      - /home/user/overpass/database:/database
      - /home/user/overpass/log:/var/log/nginx:ro
      - /home/user/overpass/archive:/archive:rw
      - /home/user/overpass/hls:/hls:rw
    ports:
      - 1935:1935
      - 8000:8000
