{% extends "layout.html" %}


{% block title %}
Watch
{% endblock %}

{% block content %}
{% include "header.html" %}
<script src="https://vjs.zencdn.net/7.10.2/video.min.js"></script>
<link href="https://vjs.zencdn.net/7.10.2/video-js.css" rel="stylesheet" />

{% if stream %}
<div id="container">
  <video
      id="my-video"
      class="video-js"
      controls
      preload="auto"
      width="768"
      height="432"
    >
      {% if live %}
      <source src="{{url_for('hls.serve_stream', unique_id=stream['unique_id'], file='index.m3u8')}}" type="application/x-mpegURL" />
      {% else %}
      <source src="{{archive_link}}" type="video/mp4" />
      {% endif %}
      <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a
        web browser that
        <a href="https://videojs.com/html5-video-support/" target="_blank"
          >supports HTML5 video</a>
      </p>
    </video>
    <script>
      // Disable right-clicking in the video frame
      var myVideo = document.getElementById("my-video");
      if (myVideo.addEventListener) {
          myVideo.addEventListener('contextmenu', function(e) {
              e.preventDefault();
          }, false);
      } else {
          myVideo.attachEvent('oncontextmenu', function() {
              window.event.returnValue = false;
          });
      }
      var player = videojs('my-video', {
      responsive: true,
      fluid: true
      });
      player.play();
    </script>
  <div id="container">
      <br>
      <h3>{{stream['title']}}</h3>
      <h5>by {{stream['username']}}</h5>
      <div class="mb-2 card">
          <div class="card-body">
              {{stream['description'] | nl2br}}
          </div>
      </div>
  </div>
</div>
{% else %}
<div class="alert alert-danger" role="alert">
  The user is offline.
</div>
{% endif %}
{% endblock %}
